html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#main-navigation {
  width: 22rem;
}

.navigation-window {
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  border: 0.2rem solid #881c1c;
  padding: 0.8rem;
  margin: 1rem;
}

.custom-window {
  display: none;
}

.custom-window-close {
  float: right;
}

.widget-label {
  margin: 0.5rem 0 0.8rem 0;
  font-size: 1.2rem;
}

.form-row {
  display: block;
  margin-bottom: 0.8rem;
}
.form-row > input {
  width: 100%;
}

.submit-button {
  float: right;
}

#widgets-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#widgets-list ul li.widget-list-item {
  display: inline-block;
  padding-right: 0.5rem;
}

.esri-widget--button,
.umass-theme-button {
  background-color: #881c1c;
  color: white;
}
.umass-theme-button {
  height: 32px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}
.esri-widget--button:hover,
.umass-theme-button:hover {
  background-color: #63666a;
  color: white;
}

.esri-icon,
.esri-icon-search,
.esri-icon-close,
.esri-icon-down-arrow,
.esri-icon-layers {
  font-weight: bold;
}
.custom-search,
.esri-search {
  width: 100%;
  border: 1px solid #881c1c;
  border-radius: 0;
}
.esri-search {
  margin-bottom: 0.8rem;
}
.custom-search-container {
  position: relative;
}
.custom-search-pane {
  position: absolute;
  width: 100%;
  overflow-y: auto;
}
.suggestion-item {
  border: 1px solid #881c1c;
  border-top: 0;
}
.custom-search-suggestion {
  padding: 0.8rem;
  background-color: white;
  cursor: pointer;
}
.custom-search-suggestion:hover {
  background-color: #eeeeee;
}
.custom-search-header {
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  background-color: #666666;
  color: white;
}

.validation-warning {
  background-color: #fc9c9c;
  border-radius: 0 0 0.5rem 0.5rem;
  color: black;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.hide {
  display: none;
}


@media only screen and (max-width: 480px) {
  #main-navigation {
    margin: 0;
    width: 100%;
  }

  #main-navigation-window {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin: 0;
  }
}
