html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#main-navigation {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 24rem;
}

#main-navigation-window {
  margin-bottom: 0;
}

.navigation-window {
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  border: 0.2rem solid #881c1c;
  padding: 0.6rem;
  margin: 1rem;
}

.custom-window {
  overflow: auto;
}

#filter-window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

.custom-popup-container {
  position: absolute;
  width: 28rem;
  max-width: 100vw;
  height: 0;
  z-index: 0;
}

.custom-popup {
  max-height: 18rem;
  overflow: auto;
}

.custom-popup,
.popup-pointer-container {
  position: relative;
  left: -50%;
}

.popup-pointer {
  background-color: #881c1c;
  position: absolute;
  left: calc(50% - 0.5rem);
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  transform: scale(0.75, 1.8) rotate(45deg);
  z-index: -1;
}

.expandable {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.expandable-filter {
  background-color: black;
  color: white;
}
.expandable-header {
  background-color: #63666a;
  color: white;
  margin-bottom: 0.5rem;
}
.expandable-header:active {
  background-color: black;
}
.expandable-icon {
  padding-right: 0.5rem;
}

.custom-window-close {
  float: right;
}

.widget-label {
  margin: 0.5rem 0 0.8rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.widget-label-icon {
  padding: 0.5rem;
}

.widget-tab {
  border-bottom: 1px solid #881c1c;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  background-color: #ccc;
}

.widget-tab-active {
  border: 1px solid #881c1c;
  border-bottom: 0;
  background-color: white;
}

.form-row {
  display: block;
  margin-bottom: 0.8rem;
}
.form-row > input {
  width: 100%;
}
.form-row-input {
  display: flex;
  justify-content: space-between;
}

.button-right {
  float: right;
}

.button-input {
  flex-shrink: 0;
}

.input-container-left {
  overflow: hidden;
  padding-right: 0.4rem;
}

#widgets-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#widgets-list ul li.widget-list-item {
  display: inline-block;
  margin: 0 0.4rem 0.4rem 0;
}
#widgets-list ul li.widget-list-item:last-of-type {
  margin: 0 0 0.4rem 0;
}

.horizontal-list-item {
  display: inline-block;
}

.page-counter-text {
  margin: 0 1rem 0 1rem;
  font-size: 16px;
}

.esri-widget--button,
.esri-button,
.umass-theme-button {
  background-color: #881c1c !important;
  border: 0;
  color: white !important;
}
.umass-theme-button {
  height: 32px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 0 0.5rem 0 0.5rem;
}
.esri-widget--button:hover,
.esri-button:hover,
.umass-theme-button:hover {
  background-color: #63666a !important;
  border: 0;
  color: white !important;
}
.esri-widget--button:active,
.esri-button:active,
.umass-theme-button:active {
  background-color: #333333 !important;
  border: 0;
  color: white !important;
}

.custom-filter-close {
  flex-shrink: 0;
  background-color: black !important;
  color: white !important;
}

.esri-icon,
.esri-icon-search,
.esri-icon-close,
.esri-icon-down-arrow,
.esri-icon-layers {
  font-weight: bold;
}
.esri-input {
  width: 100%;
  border: 1px solid #881c1c;
  border-radius: 0;
  box-sizing: border-box;
}
.esri-search {
  width: 100%;
  margin-bottom: 0.8rem;
}
.custom-search-container {
  width: 100%;
}
.custom-search-pane-container {
  position: relative;
  z-index: 1;
}
.custom-search-pane {
  position: absolute;
  width: 100%;
  overflow-y: auto;
}
.suggestion-item {
  border: 1px solid #881c1c;
  border-top: 0;
}
.custom-search-suggestion {
  padding: 0.8rem;
  background-color: white;
  cursor: pointer;
}
.custom-search-suggestion:hover {
  background-color: #eeeeee;
}
.custom-search-header {
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  background-color: #666666;
  color: white;
}

.layer-checkbox {
  padding: 0.3rem;
  cursor: pointer;
}
.layer-checkbox * {
  cursor: pointer;
}
.indent-1 {
  margin-left: 2rem;
}

.layer-checkbox-input {
  margin-right: 0.8rem;
}

.standalone-text {
  margin: 0;
}

.image-right {
  float: right;
}
.image-in-text {
  vertical-align: middle;
  padding: 0 0.4rem 0 0.4rem;
}

.validation-warning {
  background-color: #fc9c9c;
  border-radius: 0 0 0.5rem 0.5rem;
  color: black;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.hide {
  display: none;
}


@media only screen and (max-width: 480px) {
  #main-navigation {
    margin: 0;
    width: 100%;
  }

  #main-navigation-window {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin: 0;
  }

  #filter-window {
    margin: 0;
  }

  .custom-popup {
    max-height: 40vh;
  }
}
