html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#viewDiv {
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: calc(100% - 61px);
}

#main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
#main-navigation,
.column-left {
  pointer-events: none !important;
}
#main-navigation *,
.column-left * {
  pointer-events: auto;
}

.column-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
  height: 100%;
  width: 22.5rem;
}

#main-navigation-window {
  flex-shrink: 0;
  margin-bottom: 0;
}

.navigation-window {
  background-color: white;
  border: 0.2rem solid #881c1c;
  border-radius: 0.8rem;
  margin: 1rem;
}
.navigation-window-inner {
  padding: 0.6rem;
}

.navigation-window.scrollable {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.navigation-window-inner.scrollable {
  overflow-y: auto;
  flex-grow: 1;
}

.window-bar {
  align-items: center;
  background-color: #881c1c;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
}
.window-bar-text {
  flex-shrink: 0;
  font-size: 16px;
}
.window-bar-buttons {
  display: flex;
  align-items: center;
}
.window-bar-button {
  width: 48px;
}

.custom-window {
  z-index: 1;
}

#filter-window {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: black;
  color: white;
}

.expandable {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.expandable-filter {
  background-color: black;
  color: white;
}
.expandable-header {
  background-color: #63666a;
  color: white;
  margin-bottom: 0.5rem;
}
.expandable-header:active {
  background-color: black;
}
.expandable-icon {
  padding-right: 0.5rem;
}

.right {
  float: right;
}

h1 {
  margin: 0.5rem 0 0.8rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}
h2 {
  margin: 0.5rem 0 0.8rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.widget-label-icon {
  padding: 0.5rem;
}

.widget-tab-list {
  border-bottom: 1px solid #881c1c;
  height: 32px;
  padding-left: 0.5rem;
}

.widget-tab {
  border: 1px solid transparent;
  border-bottom-color: #881c1c;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  background-color: #ccc;
  height: 33px;
  box-sizing: border-box;
}

.widget-tab-active {
  border: 1px solid #881c1c;
  border-bottom-color: white;
  background-color: white;
}

.form-row {
  display: block;
  margin-bottom: 0.6rem;
}
.form-row > input {
  width: 100%;
}
.form-row-input {
  display: flex;
  flex-basis: 100%;
}
.spaced-row {
  display: flex;
  justify-content: space-around;
}

.button-input {
  flex-shrink: 0;
}

.input-container-left {
  overflow: hidden;
  padding-right: 0.4rem;
}

.widget-list ul {
  display: flex;
  padding: 0;
  margin: 0 0 -0.4rem 0;
  list-style-type: none;
  overflow-x: auto;
}

.widget-list ul li.widget-list-item {
  display: inline-block;
  margin: 0 0.4rem 0.4rem 0;
}
.widget-list ul li.widget-list-item:last-of-type {
  margin: 0 0 0.4rem 0;
}

.page-counter-text {
  margin: 0 1rem 0 1rem;
}

.static-icon-button {
  background-color: #881c1c;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esri-widget--button,
.esri-button,
.umass-theme-button {
  background-color: #881c1c !important;
  border: 0;
  color: white !important;
}
.umass-theme-button {
  height: 32px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 0 0.5rem 0 0.5rem;
}
.esri-widget--button:hover,
.esri-button:hover,
.umass-theme-button:hover {
  background-color: #63666a !important;
  border: 0;
  color: white !important;
}
.esri-widget--button:active,
.esri-button:active,
.umass-theme-button:active {
  background-color: #333333 !important;
  border: 0;
  color: white !important;
}
.esri-widget--button.active,
.esri-button.active,
.umass-theme-button.active {
  background-color: #333333 !important;
}

.esri-widget--button.disabled,
.esri-widget--button.disabled:focus {
  background-color: #bbbbbb !important;
  cursor: default;
  outline: none;
}

.custom-search-suggestion:focus,
.esri-widget--button:focus,
.esri-button:focus,
.umass-theme-button:focus,
.widget-tab:focus,
.expandable-header:focus,
.direction:focus,
input:focus {
  outline: 2px solid #99ccff;
}

.custom-filter-close {
  flex-shrink: 0;
  background-color: black !important;
  color: white !important;
}

.esri-icon,
.esri-icon-search,
.esri-icon-close,
.esri-icon-down-arrow,
.esri-icon-layers {
  font-weight: bold;
}
.esri-input {
  width: 100%;
  border: 1px solid #881c1c;
  border-radius: 0;
  box-sizing: border-box;
}
.esri-search {
  width: 100%;
  margin-bottom: 0.8rem;
}
.custom-search-container {
  width: 100%;
  outline: none;
}
.custom-search-pane-container {
  position: relative;
  z-index: 2;
}
.custom-search-pane {
  position: absolute;
  width: 100%;
  overflow-y: auto;
}
.suggestion-item {
  border: 1px solid #881c1c;
  border-top: 0;
}
.custom-search-suggestion {
  padding: 0.8rem;
  background-color: white;
  cursor: pointer;
}
.custom-search-suggestion:hover {
  background-color: #eeeeee;
}
.custom-search-header {
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  background-color: #666666;
  color: white;
}

.directions-list {
  clear: both;
}
.directions-header {
  cursor: pointer;
}
.direction {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.direction:hover {
  background-color: #ccc;
}
.direction:active {
  background-color: #aaa;
}
.direction.active {
  background-color: #ccc;
}
.direction-distance {
  flex-shrink: 0;
}

.vertical-input {
  display: block;
  cursor: pointer;
  padding: 0.3rem;
}
.vertical-input.active {
  background-color: #ccc;
  border-radius: 0.5rem;
}
.vertical-input * {
  cursor: pointer;
}
.indent-1 {
  margin-left: 2rem;
}

.vertical-input input {
  margin-right: 0.8rem;
}

.standalone-text {
  margin: 0;
}

.image-in-text {
  vertical-align: middle;
  padding: 0 0.4rem 0 0.4rem;
}

.validation-warning {
  background-color: #fc9c9c;
  border-radius: 0 0 0.5rem 0.5rem;
  color: black;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.error {
  background-color: #fc9c9c;
  border-radius: 0.5rem;
  color: black;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 0;
}
.hide {
  display: none;
}
.esri-component {
  box-shadow: none !important;
}
.shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.shelf > * + * {
  margin-left: 0.5rem;
}

table {
  border-collapse: collapse;
}
th {
  text-align: left;
  background-color: #ddd;
}
td, th {
  border: 1px solid black;
  padding: 0.5rem;
}
td.number, th.number {
  text-align: right;
}

.attribute-row {
  margin: 1rem 0;
}
.attribute-row-label {
  margin-right: 1rem;
}
.attribute-row-content {
  margin: 0;
  text-align: right;
}

.lot-notice > * {
  margin: 0;
  padding: 0;
}
.lot-notice > * + * {
  margin-top: 0.5rem;
}
.lot-notice {
  background-color: #fc9c9c;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.pointer-cursor {
  cursor: pointer;
}
.progress-cursor {
  cursor: progress;
}
.esri-icon.esri-icon-loading-indicator {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#help-expand {
  background-color: white;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 1rem;
  display: flex;
}

#help-expand-text {
  padding-left: 0.2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 480px) {
  .column-left {
    margin: 0;
    width: 100%;
  }

  #main-navigation-window {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    margin: 0;
  }

  #filter-window {
    border-radius: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  #main-navigation {
    flex-direction: column;
  }
  .column-left {
    flex-shrink: 1;
  }
}
