.marker {
  cursor: move;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  transform: translate(-50%, -120%) rotate(-45deg);
}
.marker-circle {
  margin: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
}

.marker-popup {
  display: none;
  background-color: #881c1c;
  pointer-events: none !important;
}
.marker-start {
  background-color: #63ef4a;
}
.marker-end {
  background-color: #ef4a63;
}

.marker-mini {
  cursor: move;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  transform: rotate(-45deg);
}
.marker-mini-circle {
  margin: 0.375rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: white;
  border-radius: 50%;
}
